picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 80%;
  height: auto;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121737;
        color: white;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}